<template>
  <footer class="ct-footer">
    <p>© {{$t('layout.footer-citrus-web-copyright')}}<br>
      2000-2018</p>
    <p>{{$t('layout.footer-client-hotline')}}</p>
    <a href="tel:tel:0800 20 70 30" class="ct-tel">0800 20 70 30</a>
  </footer>
</template>

<script>
export default {
  name: 'app-footer'
}
</script>
