<template>
  <div>
    <div class="ct-banner-box">
      <img src="../../assets/img/banner.jpg" alt="Обменяй свой старый телефон на новый гаджет с доплатой">
    </div>
    <div class="ct-top-description">
      <ul>
        <li class="ct-top-description-item">
          <img src="../../assets/img/new-gadget.png" alt="Выберите гаджет, который хотите купить">
          <a @click.prevent="scrollTo('newGadget')" v-t="'citrusobmen.choice'"></a>
          <p v-html="$t('citrusobmen.gadget_that')"></p>
        </li>
        <li class="ct-top-description-item">
          <img src="../../assets/img/old-gadget.png" alt="Узнайте оценочную стоимость своего старого устройства">
          <a @click.prevent="scrollTo('oldGadget')" v-t="'citrusobmen.find_out'"></a>
          <p v-html="$t('citrusobmen.estimated_value')"></p>
        </li>
        <li class="ct-top-description-item">
          <img src="../../assets/img/price.png" alt="Оформите заявку и экономь до 30%">
          <a @click.prevent="scrollTo('form')" v-t="'citrusobmen.Apply_for'"></a>
          <p v-html="$t('citrusobmen.request', {translate: 70})"></p>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'app-header',
  methods: {
    scrollTo (target) {
      let coords = document.getElementById(target).offsetTop
      window.scrollTo({
        top: coords,
        behavior: 'smooth'
      })
    }
  }
}
</script>
