<template>
  <header class="ct-header">
    <md-toolbar md-elevation="0" class="md-primary">
      <div>
        <md-button class="md-icon-button" @click="showNavigation = true">
          <md-icon>menu</md-icon>
        </md-button>
        <md-button class="md-icon-button" href="https://my.citrus.ua/">
          <md-icon>person</md-icon>
        </md-button>
      </div>
      <div class="ct-header-m-logo">
        <img src="../../assets/img/logo_m.svg" alt="citrus.ua">
      </div>
      <md-button class="md-icon-button cart-icon" href="https://my.citrus.ua/checkout">
        <img src="../../assets/img/citrus-cart.svg" alt="" width="20">
      </md-button>
    </md-toolbar>
    <md-drawer :md-active.sync="showNavigation" class="ct-header-menu">
      <md-list>
        <md-list-item>
          <a href="https://citrus.ua/" class="ct-menu__item">{{$t('layout.shop')}}</a>
        </md-list-item>
        <md-list-item>
          <a href="https://obmen.citrus.ua/" class="ct-menu__item">{{$t('layout.calculator')}}</a>
        </md-list-item>
      </md-list>
    </md-drawer>
    <div class="ct-nav">
      <a href="https://citrus.ua/" class="ct-logo"></a>
      <ul class="ct-menu">
        <li>
          <a href="https://citrus.ua/" class="ct-menu__item">{{$t('layout.shop')}}</a>
        </li>
        <li>
          <a href="https://obmen.citrus.ua/" class="ct-menu__item ct-menu__item_active">{{$t('layout.calculator')}}</a>
        </li>
      </ul>
    </div>
  </header>
</template>

<script>
export default {
  name: 'app-menu'
}
</script>
