<template>
    <div class="gadget-selection-columns">
        <div class="loader" v-show="!currentItemsList.length && !modelSearch.length" style="z-index:1000">
            <md-progress-spinner :md-diameter="77" :md-stroke="8" md-mode="indeterminate"/>
        </div>

        <template v-if="!$deviceMobile">

            <div class="gadget-selection-brand">
                <h5 class="gadget-selection-title">{{$t('citrusobmen.select_manufacturer')}}</h5>
                <select v-model="selectedBrand"  size="13" class="gadget-list">
                    <option :value="brand.id"
                            v-for="brand in brands"
                            :key="brand.id"
                            v-if="brand.name && brand[counterType]"
                            class="gadget-list__item">{{brand.name}}</option>
                </select>
            </div>

            <div class="gadget-selection-model">
                <h5 class="gadget-selection-title">{{$t('citrusobmen.choice_or_search_model')}}</h5>
                <div class="gadget-select-wrapper">
                    <div class="gadget-search-wrapper">
                        <input class="gadget-search-input" type="text" v-model="modelSearch" placeholder="Поиск">
                    </div>

                    <div class="loader" v-show="modelLoading">
                        <md-progress-spinner :md-diameter="55" :md-stroke="5" md-mode="indeterminate"/>
                    </div>

                    <select v-model="selectedItem"
                            size="10"
                            v-if="currentItemsList.length"
                            class="gadget-list gadget-list_short"
                            @change="selectGadget(selectedItem)">
                        <option :value="item"
                                v-for="item in currentItemsList"
                                :key="item.id"
                                v-if="item.price[type]"
                                class="gadget-list__item">{{item.name}}</option>
                    </select>

                    <p class="gadget-list__item gadget-list__item_not-found" v-else>{{$t("citrusobmen['No model']")}}</p>
                </div>
            </div>

            <div class="gadget-info" v-show="!modelLoading">
                <h5 class="gadget-selection-title">{{$t('citrusobmen.your_device')}}</h5>
                <div v-if="selectedItem && selectedItem.price[type]">
                    <h3 class="gadget-info__name">{{selectedItem.name}}</h3>
                    <div class="gadget-info-img">
                        <img :src="selectedItem.img" :alt="selectedItem.name">
                    </div>
                    <p class="gadget-info__store" v-if="type === 'new'">{{$t('citrusobmen.cost_of_the_gadget_online_store')}}</p>
                    <p class="gadget-info__store" v-else>{{$t('citrusobmen.ocenochnaya_price')}} <span style="color: red;">*</span></p>
                    <p class="gadget-info__price">{{selectedItem.price[type] | formatPrice}} <sup>₴</sup></p>
                    <p class="gadget-info__discount" v-if="type === 'old'" v-html="$t('citrusobmen.price_description')"></p>
                </div>
            </div>

        </template>
        <div class="gadget-selection-mobile" v-else>
            <div class="loader" v-show="modelLoading">
                <md-progress-spinner :md-diameter="55" :md-stroke="5" md-mode="indeterminate"/>
            </div>

            <md-field>
                <md-select v-model="selectedBrand" >
                    <md-option :value="brand.id" v-for="brand in brands" :key="brand.id" v-if="brand.name && brand[counterType]" class="gadget-list__item">{{brand.name}}</md-option>
                </md-select>
            </md-field>

            <md-field>
                <md-select v-model="selectedItem" @change="selectGadget(selectedItem)">
                    <md-option :value="item.idd" v-for="item in currentItemsList" :key="item.id" v-if="item.price[type]" class="gadget-list__item">{{item.name}}</md-option>
                </md-select>
            </md-field>

            <div class="gadget-info" v-if="selectedMobItem && selectedMobItem.price[type]">
                <div class="gadget-info-img">
                    <img :src="selectedMobItem.img" :alt="selectedMobItem.name">
                </div>
                <p class="gadget-info__store" v-if="type === 'new'">{{$t('citrusobmen.cost_of_the_gadget_online_store')}}</p>
                <p class="gadget-info__store" v-else>{{$t('citrusobmen.ocenochnaya_price')}} <span style="color: red;">*</span></p>
                <p class="gadget-info__price">до {{selectedMobItem.price[type] | formatPrice}} <sup>₴</sup></p>
                <p class="gadget-info__discount" v-if="type === 'old'" v-html="$t('citrusobmen.price_description')"></p>
            </div>

        </div>
    </div>
</template>

<script>
export default {
  name: 'group-selection',
  props: ['category', 'brands', 'type', 'activeCategory'],
  created () {
    this.selectFirstBrandCategory()
  },
  data () {
    return {
      selectedBrand: null,
      selectedItem: null,
      itemsList: [],
      filteredItems: [],
      modelSearch: '',
      modelLoading: false
    }
  },
  methods: {
    selectFirstBrandCategory () {
      this.selectedBrand = this.brands.find((item) => {
        return this.type === 'new' ? item.is_new === 1 : item.is_old === 1
      }).id
      this.selectFirstGadget()
    },
    selectFirstGadget () {
      if (this.itemsList.length) {
        let device = this.itemsList.find((item) => {
          return this.type === 'new' ? item.is_new === 1 : item.is_old === 1
        })
        this.selectGadget(device)
        this.selectedItem = this.$deviceMobile ? device.idd : device
      }
    },
    selectBrandCategory (brandId) {
      this.modelLoading = true
      this.$axios.get(`https://my.citrus.ua/ru/tradein/${this.category}/${brandId}/items.json`).then((response) => {
        this.itemsList = response.data || []
        this.selectFirstGadget()
        this.modelLoading = false
      })
    },
    searchModel (value) {
      this.filteredItems = this.itemsList.filter((item) => {
        return item.name.toLowerCase().includes(value.toLowerCase())
      })
    },
    selectGadget (gadget) {
      this.$emit('onGadgetSelect', gadget)
    }
  },
  filters: {
    formatPrice (value) {
      return value.toLocaleString()
    }
  },
  watch: {
    selectedBrand (val) {
      this.selectBrandCategory(val)
    },
    modelSearch (val) {
      this.searchModel(val)
    },
    activeCategory (val) {
      if (this.category === val) {
        this.selectFirstBrandCategory(val)
      }
    }
  },
  computed: {
    currentItemsList () {
      if (this.modelSearch.length) {
        return this.filteredItems
      }

      return this.itemsList
    },
    selectedMobItem () {
      if (this.$deviceMobile) {
        return this.currentItemsList.find((item) => item.idd === this.selectedItem)
      }

      return this.selectedItem
    },
    counterType () {
      return this.type === 'new' ? 'cnt_new' : 'cnt_old'
    }
  }
}
</script>

<style scoped lang="scss">
    .gadget-selection-columns {
        display: flex;
        box-sizing: border-box;
        padding: 20px 0;
        margin: 0;
        min-height: 584px;
        position: relative;

        @media screen and (max-width: 700px) {
            flex-direction: column;
            min-height: 0;
        }

        .gadget-selection-title {
            display: block;
            box-sizing: border-box;
            color: #f8741f;
            font-family: 'Ubuntu', sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            padding: 5px 25px;
            margin: 0 0 10px 0;
            min-height: 44px;
        }

        .gadget-selection-brand {
            width: 37.1%;
            flex-shrink: 0;
            padding: 15px;

            @media screen and (max-width: 700px) {
                width: 100%;
            }
        }

        .gadget-selection-mobile {
            padding: 0 16px;
        }

        .gadget-selection-model {
            width: 37.1%;
            flex-shrink: 0;
            padding: 15px;

            @media screen and (max-width: 700px) {
                width: 100%;
            }

            .gadget-select-wrapper {
                position: relative;
            }

            .gadget-search-wrapper {
                display: block;
                position: relative;
                padding: 0 25px 0 0;
                margin: 0 0 15px 0;
                box-sizing: border-box;

                .gadget-search-input {
                    display: block;
                    position: relative;
                    box-sizing: border-box;
                    width: 100%;
                    border: none;
                    border-bottom: 1px solid #bdbdbd;
                    outline: none;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    height: 35px;
                    line-height: 35px;
                    vertical-align: middle;
                    color: #acacac;
                    text-transform: capitalize;
                    padding-left: 30px;
                }

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 18px;
                    height: 18px;
                    background-image: url('../assets/img/search.png');
                    background-size: 100% 100%;
                    left: 5px;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
            }
        }

        .gadget-info {
            flex-grow: 0;
            padding: 15px;

            @media screen and (max-width: 768px) {
                padding: 0;
            }

            &__name {
                display: block;
                box-sizing: border-box;
                font-family: 'Ubuntu', sans-serif;
                font-weight: 500;
                font-size: 18px;
                line-height: 20px;
                color: #484748;
                padding-left: 25px;
                margin: 0 0 15px 0;
            }

            .gadget-info-img {
                display: block;
                box-sizing: border-box;
                padding-left: 25px;
                margin: 0 0 15px 0;

                @media screen and (max-width: 768px) {
                    padding-left: 15px;
                    padding-right: 25px;
                    float: left;
                    width: 40%;
                }

                img {
                    display: block;
                    width: auto;
                    max-height: 182px;
                    margin: 0 auto;

                    @media screen and (max-width: 768px) {
                        display: block;
                        width: auto;
                        max-height: 182px;
                        margin: 0 auto;
                    }
                }
            }

            &__store {
                display: block;
                box-sizing: border-box;
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
                font-size: 14px;
                line-height: 18px;
                color: #484748;
                padding-left: 25px;
                margin: 0 0 15px 0;

                @media screen and (max-width: 768px) {
                    font-size: 12px;
                }
            }

            &__price {
                display: block;
                box-sizing: border-box;
                font-family: 'Ubuntu', sans-serif;
                font-weight: 500;
                font-size: 50px;
                line-height: 50px;
                color: #f6721d;
                padding-left: 25px;
                margin: 0 0 15px 0;
                white-space: nowrap;

                sup {
                    font-weight: 500;
                    font-size: 25px;
                    line-height: 25px;
                    top: -0.8em;
                }

                @media screen and (max-width: 768px) {
                    font-size: 35px;
                    line-height: 35px;

                    sup {
                        font-size: 20px;
                    }
                }
            }

            &__discount {
                display: block;
                box-sizing: border-box;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                color: #999999;
                padding-left: 25px;
                margin: 0 0 15px 0;

                @media screen and (max-width: 768px) {
                    font-size: 10px;
                }
            }
        }

        .gadget-list {
            height: 460px;
            overflow-y: scroll;
            border: none;
            width: 100%;

            &:focus {
                outline: none;
            }

            &_short {
                height: 410px;
            }

            &__item {
                display: block;
                position: relative;
                box-sizing: border-box;
                width: 100%;
                border: none;
                outline: none;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                vertical-align: middle;
                color: #999999;
                padding: 9px 25px;
                white-space: normal;
                cursor: pointer;

                &:checked {
                    &:after {
                        content: '>';
                        color: #222222;
                        display: block;
                        position: absolute;
                        font-size: 20px;
                        right: 15px;
                        top: 50%;
                        -webkit-transform: translateY(-50%) scaleX(0.5);
                        transform: translateY(-50%) scaleX(0.5);
                    }

                    &:hover {
                        background-color: #c8c8c8;
                        color: #222222;
                    }
                }

                &:hover {
                    color: #222222;
                    background-color: #f5f5f5;

                    &:after {
                        content: '>';
                        color: #222222;
                        display: block;
                        position: absolute;
                        font-size: 20px;
                        right: 15px;
                        top: 50%;
                        -webkit-transform: translateY(-50%) scaleX(0.5);
                        transform: translateY(-50%) scaleX(0.5);
                    }
                }

                &_not-found {
                    cursor: default;
                    &:hover {
                        background: inherit;
                        color: #999999;
                        &:after {
                            content: '';
                        }
                    }
                }
            }
        }
    }
</style>
