<template>
    <div>
        <div class="categories-tabs">
            <swiper :options="tabsCategoriesOption" ref="tabsCategories">
                <swiper-slide v-for="category in categories" :key="category.slug" :ref="category.slug">
                    <a @click.prevent="setActiveCategory(category.slug)"  class="categories-tabs__tab md-button">{{$t(category.name)}}</a>
                </swiper-slide>
                <span class="categories-tabs__indicator" :style="{'width': `${categoryTabIndicator.width}px`, 'left': `${categoryTabIndicator.left}px`,}"></span>
                <div class="tab-prev" slot="button-prev">
                    <div class="tab-prev__icon"></div>
                </div>
                <div class="tab-next" slot="button-next">
                    <div class="tab-next__icon"></div>
                </div>
            </swiper>
        </div>
        <md-tabs :md-active-tab="categoryTabIndicator.active">
            <md-tab v-for="category in categories" :id="category.slug" :md-label="category.name" :key="category.slug" :md-ripple="false">
                <gadget-list
                        :active-category="categoryTabIndicator.active"
                        :brands="brands[category.slug]"
                        :category="category.slug"
                        :type="type"
                        v-if="brands[category.slug].length"
                        @onGadgetSelect="selectGadget"
                />
            </md-tab>
        </md-tabs>
    </div>
</template>

<script>
import GadgetList from './GadgetList'
import 'swiper/dist/css/swiper.css'
import 'vue-material/dist/vue-material.min.css'
import { swiper, swiperSlide } from 'vue-awesome-swiper'

export default {
  name: 'new-gadget-select',
  components: {
    GadgetList,
    swiper,
    swiperSlide
  },
  props: ['value', 'type'],
  computed: {
    swiper () {
      return this.$refs
    }
  },
  data () {
    return {
      array: true,
      categories: [
        {
          name: 'citrusobmen.categories-smartfony',
          slug: 'smartfony'
        },
        {
          name: 'citrusobmen.categories-planshety',
          slug: 'planshety'
        },
        {
          name: 'citrusobmen.categories-mobilnye-telefony-108',
          slug: 'mobilnye-telefony'
        },
        {
          name: 'citrusobmen.categories-noutbuki-i-ultrabuki',
          slug: 'noutbuki-i-ultrabuki'
        },
        {
          name: 'citrusobmen.categories-smart-chasy',
          slug: 'smart-chasy'
        },
        {
          name: 'citrusobmen.categories-personalnyy-transport',
          slug: 'personalnyy-transport'
        },
        {
          name: 'citrusobmen.categories-ekshn-kamery',
          slug: 'ekshn-kamery'
        }
      ],
      brands: {
        'smartfony': [],
        'planshety': [],
        'mobilnye-telefony': [],
        'noutbuki-i-ultrabuki': [],
        'smart-chasy': [],
        'personalnyy-transport': [],
        'ekshn-kamery': []
      },
      tabsCategoriesOption: {
        navigation: {
          nextEl: '.tab-next',
          prevEl: '.tab-prev',
          disabledClass: 'tab-nav-disabled'
        },
        slidesPerView: 'auto',
        spaceBetween: 0,
        slideToClickedSlide: true
      },
      categoryTabIndicator: {
        active: 'smartfony',
        width: 0,
        left: 0
      }
    }
  },
  created () {
    this.selectCategory(this.categories[0].slug)
    this.setActiveCategory(this.categories[0].slug)
  },
  methods: {
    setActiveCategory (category) {
      this.categoryTabIndicator.active = category
      setTimeout(() => {
        this.categoryTabIndicator.width = this.$refs[category][0].$el.offsetWidth
        this.categoryTabIndicator.left = this.$refs[category][0].$el.offsetLeft
      }, 0)
      this.selectCategory(category)
    },
    selectCategory (tabId) {
      if (!this.brands[tabId].length) {
        this.$axios.get(`https://my.citrus.ua/ru/tradein/${tabId}/brands.json`).then((response) => {
          if (response.data) {
            this.brands[tabId] = response.data
          }
        })
      }
      this.$emit('onCategoryChange', tabId)
    },
    selectGadget (gadget) {
      this.$emit('input', gadget)
    }
  }
}
</script>

<style lang="scss">
    .md-tabs .md-tab {
        position: relative;
        min-height: 600px;
        @media screen and (max-width: 768px) {
            min-height: 346px;
        }
    }

    .swiper-container {
        padding: 0 32px!important;

        .swiper-slide {
            position: static;
        }
    }

    .categories-tabs {
        border-bottom: 1px solid #e0e0e0;

        &__indicator {
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translateZ(0);
            will-change: left,right;
            background-color: #f6731c;
            transition: all .3s cubic-bezier(.4,0,.2,1),right .35s cubic-bezier(.4,0,.2,1);
        }

        &__tab.md-button {
            line-height: 48px;
            height: 48px;
            padding: 0 15px;
            font-size: 16px;
            font-family: Roboto,"Helvetica Neue",sans-serif;
            font-weight: 400;
            text-transform: capitalize;
            cursor: pointer;
            box-sizing: border-box;
            color: currentColor;
            opacity: .6;
            display: block;
            margin: 0;
            white-space: nowrap;
            min-width: 160px;
            text-align: center;

            @media screen and (max-width: 700px) {
                min-width: 121px;
            }
        }
    }

    .swiper-slide {
        width: auto!important;
    }

    .md-tabs {
        min-height: 587px;
        @media screen and (max-width: 768px) {
            min-height: 346px;
        }
    }

    .tab-prev, .tab-next {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 32px;
        background-color: white;
        cursor: pointer;
        z-index: 2;
        height: 100%;
        top: 0;
        box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);

        &.tab-nav-disabled {
            box-shadow: none;

            .tab-prev__icon,
            .tab-next__icon {
                color: #ccc;
            }
        }

        &__icon {
            border-style: solid;
            border-width: 2px 2px 0 0;
            content: '';
            height: 8px;
            width: 8px;
        }
    }

    .tab-prev {
        left: 0;
        &__icon {
            transform: rotate(-135deg);
        }
    }

    .tab-next {
        right: 0;
        &__icon {
            transform: rotate(45deg);
        }
    }

    .md-tabs {
        .md-tab {
            padding: 0;
        }

        .md-tabs-navigation {
            display: none;
            border-bottom: 1px solid #e0e0e0;

            .md-button-content {
                line-height: 48px;
                height: 48px;
                padding: 0 24px;
                font-size: 16px;
                font-family: Roboto,"Helvetica Neue",sans-serif;
                font-weight: 400;
                text-transform: capitalize;
                cursor: pointer;
                box-sizing: border-box;
                color: currentColor;
                opacity: .6;
                min-width: 160px;
                text-align: center;
                position: relative;

                &:active, &:focus {
                    opacity: 1;
                }
            }
        }
    }
</style>
