<template>
    <div class="ct-features-list">
        <template v-if="$deviceMobile">
            <div class="categories-tabs">
                <swiper :options="tabsFeaturesOption" ref="tabsFeatures">
                    <swiper-slide v-for="(category, index) in categoriesNames" :ref="`category${index}`" :key="`category${index}`">
                        <a @click.prevent="setActiveCategory(index)"  class="categories-tabs__tab md-button">{{category}}</a>
                    </swiper-slide>
                    <span class="categories-tabs__indicator" :style="{'width': `${categoryTabIndicator.width}px`, 'left': `${categoryTabIndicator.left}px`,}"></span>
                    <div class="tab-prev" slot="button-prev">
                        <div class="tab-prev__icon"></div>
                    </div>
                    <div class="tab-next" slot="button-next">
                        <div class="tab-next__icon"></div>
                    </div>
                </swiper>
            </div>
            <div class="features-tab-content">
                <swiper :options="tabsContentFeaturesOption" ref="tabsContentFeatures" @slideChange="setTabNavigation">
                    <swiper-slide v-for="(category, index) in categoryFeatures" :key="index" class="features-list" v-if="category.damages.length">
                        <md-checkbox v-model="selectedFeatures" class="md-primary md-ripple-off" :value="damage" v-for="damage in category.damages" :key="damage.title">{{damage.title}} <span class="ct-features-col__damage" v-if="damage.percent === 99">?<md-tooltip md-direction="top">Устройство имеющее данный дефект оценисвется в 1 грн</md-tooltip></span> </md-checkbox>
                    </swiper-slide>
                </swiper>
            </div>
        </template>
        <template v-else>
            <div class="ct-features-col" v-for="category in categoryFeatures" v-if="category.damages.length" :key="category.title">
                <h5 class="ct-features-col__title">{{category.title}}</h5>
                <md-checkbox v-model="selectedFeatures" class="md-primary md-ripple-off" :value="damage" v-for="damage in category.damages" :key="damage.title">{{damage.title}} <span class="ct-features-col__damage" v-if="damage.percent === 99">?<md-tooltip md-direction="top">Устройство имеющее данный дефект оценисвется в 1 грн</md-tooltip></span> </md-checkbox>
            </div>
        </template>
        <div class="loader" v-show="loader">
            <md-progress-spinner :md-diameter="77" :md-stroke="8" md-mode="indeterminate"/>
        </div>
    </div>
</template>

<script>
import 'swiper/dist/css/swiper.css'
import { swiper, swiperSlide } from 'vue-awesome-swiper'

export default {
  name: 'old-gadget-features',
  props: ['category'],
  components: {
    swiper,
    swiperSlide
  },
  methods: {
    getCategoriesNames (categories) {
      this.categoriesNames = categories.filter((category) => {
        return category.damages.length
      }).map((item) => { return item.title })
      if (this.$deviceMobile) {
        this.setActiveCategory(0)
      }
    },
    setActiveCategory (categoryId) {
      this.$refs.tabsContentFeatures.swiper.slideTo(categoryId)
      this.updateTabIndicator(categoryId)
    },
    setTabNavigation () {
      let slideIndex = this.$refs.tabsContentFeatures.swiper.realIndex
      this.$refs.tabsFeatures.swiper.slideTo(slideIndex)
      this.updateTabIndicator(slideIndex)
    },
    updateTabIndicator (categoryId) {
      this.categoryTabIndicator.active = `category${categoryId}`
      setTimeout(() => {
        let categoryElement = this.$refs[`category${categoryId}`][0].$el
        this.categoryTabIndicator.width = categoryElement.offsetWidth
        this.categoryTabIndicator.left = categoryElement.offsetLeft
      }, 0)
    }
  },
  data () {
    return {
      selectedFeatures: [],
      categoryFeatures: [],
      categoriesNames: [],
      loader: true,
      categoriesId: {
        'smartfony': 20,
        'planshety': 63,
        'mobilnye-telefony': 108,
        'noutbuki-i-ultrabuki': 96,
        'smart-chasy': 161,
        'personalnyy-transport': 185,
        'ekshn-kamery': 175
      },
      tabsFeaturesOption: {
        navigation: {
          nextEl: '.tab-next',
          prevEl: '.tab-prev',
          disabledClass: 'tab-nav-disabled'
        },
        slidesPerView: 'auto',
        spaceBetween: 0,
        slideToClickedSlide: true
      },
      tabsContentFeaturesOption: {
        autoHeight: true,
        slidesPerView: 1,
        spaceBetween: 0,
        slideToClickedSlide: true
      },
      categoryTabIndicator: {
        active: null,
        width: 0,
        left: 0
      }
    }
  },
  watch: {
    category (categorySlug) {
      this.loader = true
      this.$axios.get(`https://my.citrus.ua/api/v2/tradein/damages/${this.categoriesId[categorySlug]}`).then((response) => {
        if (response.data.code === 200) {
          this.categoryFeatures = response.data ? response.data.data : []
          this.getCategoriesNames(this.categoryFeatures)
        }
        this.loader = false
      })
    },
    categoryFeatures () {
      this.$emit('input', this.selectedFeatures)
    }
  }
}
</script>

<style lang="scss">
    .ct-features-list {
        position: relative;
        display: flex;

        @media screen and (max-width: 768px) {
            display: block;
            width: 100%;
        }

        .features-tab-content {

            .features-list {
                padding: 0 16px;
                box-sizing: border-box;

                .md-checkbox {
                    margin: 0;
                    margin-bottom: 15px;

                    &:first-child {
                        margin-top: 15px;
                    }

                    &:last-child {
                        margin-bottom: 15px;
                    }

                    .md-checkbox-label {
                        height: auto;
                    }
                }
            }
            .swiper-container {
                padding: 0;
            }
        }

        .loader {
            min-height: 300px;
        }
        .ct-features-col {
            width: 33%;
            display: flex;
            flex-direction: column;

            &__title {
                font: 500 16px/normal Ubuntu, sans-serif;
                color: #000;
                margin: 0 0 25px 0;
                min-height: 36px;
            }

            &__damage {
                content: '?';
                display: inline-block;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                border: 1px solid #7eb105;
                font: 400 9px/15px Roboto, sans-serif;
                vertical-align: middle;
                text-align: center;
                color: #7eb105;
                box-sizing: border-box;
            }

            .md-checkbox {
                margin: 0;
                z-index: 0;
                label {
                    height: auto;
                    position: relative;
                    width: 100%;
                    padding-right: 50px;
                    box-sizing: border-box;
                    margin-bottom: 15px;
                    text-align: left;
                }
            }
        }
    }
</style>
