<template>
    <div class="ct-step-container">
        <div class="ct-step-title-block">
            <h4 class="ct-step-title">
                <span class="ct-step-title__number">{{step}}</span>
                {{title}}
            </h4>
            <p class="ct-step-description">{{description}}</p>
        </div>
        <slot></slot>
    </div>
</template>

<script>
export default {
  name: 'step',
  props: ['title', 'description', 'step']
}
</script>

<style lang="scss">
    .ct-step-container {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 65px;
        box-sizing: border-box;

        @media screen and(max-width: 768px) {
            padding-left: 0;
            padding-right: 0;
            padding-top: 30px;
        }

        .ct-step-title-block {
            padding-left: 55px;

            @media screen and(max-width: 768px) {
                margin: 0 15px;
                padding-left: 40px;
            }

            .ct-step-title {
                font: 400 30px/normal Ubuntu, sans-serif;
                color: #333;
                margin: 0 0 10px;
                position: relative;

                @media screen and(max-width: 768px) {
                    font-size: 20px;
                }

                &__number {
                    text-align: center;
                    position: absolute;
                    display: block;
                    width: 35px;
                    height: 35px;
                    border-radius: 17px;
                    background: #f8741f;
                    font: 500 18px/normal Ubuntu, sans-serif;
                    color: #fff;
                    box-sizing: border-box;
                    padding: 6px 12px;
                    top: 0;
                    left: -55px;

                    @media screen and(max-width: 768px) {
                        left: -40px;
                        width: 30px;
                        height: 30px;
                        font: 500 14px/normal Ubuntu, sans-serif;
                    }
                }

            }

            .ct-step-description {
                font: 400 14px/normal Roboto, sans-serif;
                color: #999;
                margin: 0 0 20px;
            }
        }
    }
</style>
