<template>
  <md-dialog :md-active="isVisible" class="ct-dialog-info" @md-clicked-outside="closeModal">
    <div class="loader" v-show="loader">
      <md-progress-spinner :md-diameter="77" :md-stroke="8" md-mode="indeterminate"></md-progress-spinner>
    </div>
    <div class="ct-dialog-info__close" @click="closeModal"></div>
    <template v-if="responseSucceed === null">
      <md-dialog-title><i class="ct-form__icon"></i>Заявка на Цитрус Обмен</md-dialog-title>
      <md-dialog-content>
        <div class="ct-dialog-row">
          <div class="ct-dialog-col">
            <p class="ct-dialog-info__title">{{$t('citrusobmen.price_new_gadjet')}}</p>
            <p class="ct-dialog-info__name">{{newGadget.name}}</p>
          </div>
          <div class="ct-dialog-col">
            <p class="ct-dialog-info__price">{{newGadget.price.new | formatPrice}} <sup>₴</sup></p>
          </div>
        </div>
        <div class="ct-dialog-row">
          <div class="ct-dialog-col">
            <p class="ct-dialog-info__title">{{$t('citrusobmen.mark_old_price')}}</p>
            <p class="ct-dialog-info__name">{{oldGadget.name}}</p>
          </div>
          <div class="ct-dialog-col">
            <p class="ct-dialog-info__price">{{oldGadgetPrice | formatPrice}} <sup>₴</sup></p>
          </div>
        </div>
        <div class="ct-dialog-row">
          <div class="ct-dialog-col">
            <p class="ct-dialog-info__title">{{$t('citrusobmen.your-saving')}}
              <span>{{oldGadgetPrice | formatPrice}} ₴</span></p>
          </div>
          <div class="ct-dialog-col">
            <p class="ct-dialog-info__price">{{totalSum | formatPrice}} <sup>₴</sup></p>
          </div>
        </div>
        <div class="ct-dialog-form">
          <form class="md-layout" @submit.prevent="validateForm">
            <div class="md-layout md-gutter">
              <div class="md-layout-item md-small-size-100">
                <md-field :class="getValidationClass('name')">
                  <label for="first-name">ФИО</label>
                  <md-input name="first-name" id="first-name" autocomplete="given-name" v-model="formData.name"/>
                  <span class="md-error" v-if="!$v.formData.name.required">Обязательное поле</span>
                  <span class="md-error" v-else-if="!$v.formData.name.minlength">Минимальное количество 3</span>
                </md-field>
                <md-field :class="getValidationClass('phone')">
                  <label for="first-name">Телефон</label>
                  <md-input name="phone" type="tel" id="phone" autocomplete="given-name" v-model="formData.phone" v-mask="'(###) ###-##-##'"/>
                  <span class="md-error" v-if="!$v.formData.phone.required">Обязательное поле</span>
                  <span class="md-error" v-else-if="!$v.formData.phone.minlength">Неверный номер телефона</span>
                </md-field>
                <md-field :class="getValidationClass('email')">
                  <label for="first-name">Email</label>
                  <md-input type="email" name="email" id="email" autocomplete="given-name" v-model="formData.email"/>
                  <span class="md-error" v-if="!$v.formData.email.required">Обязательное поле</span>
                  <span class="md-error" v-else-if="!$v.formData.email.email">Неверный email адрес</span>
                </md-field>
                <md-autocomplete :class="getValidationClass('city')" :md-options="filteredDeliveryCities" md-dense
                                 v-model="formData.city" @md-changed="getFilteredDeliveryCities"
                                 :md-open-on-focus="false">
                  <label>Город</label>
                  <template slot="md-autocomplete-item" slot-scope="{ item, term }">
                    <p :md-term="term">{{ item }}</p>
                  </template>

                  <template slot="md-autocomplete-empty" slot-scope="{ term }">
                    <p>Город не найден</p>
                  </template>

                  <span class="md-error" v-if="!$v.formData.city.required">Обязательное поле</span>
                </md-autocomplete>
                <md-button class="md-raised md-primary submit-button" type="submit">Отправить</md-button>
                <span class="ct-dialog-info__terms">Отправляя форму вы соглашаетесь с условиями программы <span
                  class="green">«Цитрус Обмен»</span></span>
              </div>
            </div>
          </form>
        </div>
      </md-dialog-content>
    </template>
    <template v-if="responseSucceed">
      <md-dialog-title><i class="ct-form__icon"></i>Отлично!</md-dialog-title>
      <md-dialog-content>
        <p>Заявка на «Цитрус Обмен» отправлена!</p>
        <p>В ближайшее время мы свяжемся с Вами для уточнения деталей обмена.</p>
        <p>Спасибо!</p>
      </md-dialog-content>
    </template>
    <template v-if="responseSucceed === false">
      <md-dialog-title><i class="ct-form__icon"></i>Что то пошло не так!</md-dialog-title>
      <md-dialog-content>
        <p>Не удалось отправить заявку «Цитрус Обмен»!</p>
        <p>Попробуйте снова в ближайшее время.</p>
      </md-dialog-content>
    </template>

  </md-dialog>
</template>

<script>
import {validationMixin} from 'vuelidate'
import {mask} from 'vue-the-mask'
import {required, email, minLength} from 'vuelidate/lib/validators'

export default {
  name: 'submit-form',
  props: ['isVisible', 'newGadget', 'oldGadget', 'totalSum', 'oldGadgetPrice', 'oldGadgetFeatures'],
  mixins: [validationMixin],
  directives: {mask},
  filters: {
    formatPrice (val) {
      return val.toLocaleString()
    }
  },
  created () {
    this.getDeliveryCities()
  },
  data () {
    return {
      filteredDeliveryCities: [],
      cities: [],
      formData: {
        name: '',
        phone: '',
        email: '',
        city: ''
      },
      responseSucceed: null,
      loader: false,
      isModalVisible: false
    }
  },
  validations: {
    formData: {
      name: {
        required,
        minLength: minLength(3)
      },
      phone: {
        required,
        minLength: minLength(12)
      },
      email: {
        required,
        email
      },
      city: {
        required
      }
    }
  },
  methods: {
    getValidationClass (fieldName) {
      const field = this.$v.formData[fieldName]

      if (field) {
        return {
          'md-invalid': field.$invalid && field.$dirty
        }
      }
    },
    getDeliveryCities () {
      this.$axios.get('https://my.citrus.ua/api/order/cities?q&type=select2&id=id&name=text').then((response) => {
        if (response.data) {
          this.cities = response.data
        }
      })
    },
    getFilteredDeliveryCities (search) {
      if (search.length) {
        setTimeout(() => {
          this.filteredDeliveryCities = this.cities.filter((city) => city.text.toLowerCase()
            .includes(search.toLowerCase()))
            .map((item) => { return item.text })
        }, 500)
      } else {
        this.filteredDeliveryCities = []
      }
    },
    validateForm () {
      this.$v.$touch()

      if (!this.$v.$invalid) {
        this.loader = true
        let data = {
          name: this.formData.name,
          email: this.formData.email,
          phone: this.formData.phone,
          country_id: this.cities.find((city) => city.text === this.formData.city).id,
          old_device: this.oldGadget.idd,
          new_device: this.newGadget.idd,
          old_price: this.oldGadget.price.old,
          new_price: this.newGadget.price.new,
          diff_price: this.totalSum,
          characteristic_discount: this.oldGadgetFeatures.map((feature) => feature.title).toString()
        }

        this.$axios.get('https://my.citrus.ua/api/order/tradein', {params: data}).then((response) => {
          if (response.data) {
            if (response.data.code === 200) {
              this.responseSucceed = true
            } else {
              this.responseSucceed = false
            }
            this.loader = false
          }
        })
      }
    },
    closeModal () {
      this.$emit('onModalCloseModal')
    }
  }
}
</script>

<style>
  .md-dialog {
    z-index: 7;
  }

  .ct-dialog-form {
    position: relative;
  }
</style>
