<template>
  <div class="ct-total-sum ct-step-container" v-if="newGadget && oldGadget">
    <div class="ct-total-wrapper">
      <div class="ct-total-col">
        <p class="ct-total-col__title">{{$t('citrusobmen.price_new_gadjet')}}</p>
        <p class="ct-total-col__price ct-total-col__price_black">{{newGadget.price.new | formatPrice}}
          <sup>₴</sup></p>
        <p class="ct-total-col__name">{{newGadget.name}}</p>
      </div>
      <div class="ct-total-col">
        <p class="ct-total-col__title">{{$t('citrusobmen.mark_old_price')}} <span class="red"
                                                                                  v-show="isMoreThanNew">*</span>
        </p>
        <p class="ct-total-col__price ct-total-col__price_black">{{totalOldGadgetPrice | formatPrice}}
          <sup>₴</sup></p>
        <p class="ct-total-col__name">{{oldGadget.name}}</p>
      </div>
      <div class="ct-total-col">
        <p class="ct-total-col__title">{{$t('citrusobmen.your-saving')}} {{totalOldGadgetPrice | formatPrice}}
          ₴</p>
        <p class="ct-total-col__price ct-total-col__price_orange">{{totalSum | formatPrice}} <sup>₴</sup></p>
        <a class="ct-total-col__form-button" @click.prevent="isDialogFormVisible = true">Оформить заявку</a>
      </div>
      <submit-form
        :is-visible="isDialogFormVisible"
        :new-gadget="newGadget"
        :old-gadget="oldGadget"
        :old-gadget-price="totalOldGadgetPrice"
        :total-sum="totalSum"
        @onModalCloseModal="isDialogFormVisible = false"
        :old-gadget-features="oldGadgetFeatures"
      />
    </div>
    <div class="ct-sticky-total" ref="stickyTotal" :class="{'ct-sticky-total__sticky': stickyTotalVisible}">
      <div class="ct-total-col">
        <p class="ct-total-col__title">{{$t('citrusobmen.price_block_new_gadget')}}</p>
        <p class="ct-total-col__price ct-total-col__price_black">{{newGadget.price.new | formatPrice}}
          <sup>₴</sup></p>
        <p class="ct-total-col__name">{{newGadget.name}}</p>
      </div>
      <div class="ct-total-col">
        <p class="ct-total-col__title">{{$t('citrusobmen.price_block_old_gadget')}} <span class="red"
                                                                                          v-show="isMoreThanNew">*</span>
        </p>
        <p class="ct-total-col__price ct-total-col__price_black">{{totalOldGadgetPrice | formatPrice}}
          <sup>₴</sup></p>
        <p class="ct-total-col__name">{{oldGadget.name}}</p>
      </div>
      <div class="ct-total-col">
        <p class="ct-total-col__title">{{$t('citrusobmen.price_block_your_saving')}} <br> {{totalOldGadgetPrice
          | formatPrice}} ₴</p>
        <p class="ct-total-col__price ct-total-col__price_orange">{{totalSum | formatPrice}} <sup>₴</sup></p>
        <a class="ct-total-col__form-button" @click.prevent="isDialogFormVisible = true">Оформить заявку</a>
      </div>
    </div>
    <div class="ct-step-container" v-if="isMoreThanNew">
      <div class="ct-info-block">
        <p><span class="red">*</span> Согласно условиям из оценочной стоимости старого устройства в качестве
          скидки может быть использована исключительно та сумма, которая не превышает 70% общей стоимости
          нового устройства. Поскольку оценочная стоимость старого устройства, которое вы вибрали, превышает
          70% стоимости нового, в качестве скидки мы учли лишь часть оценочной стоимости.</p>
      </div>
    </div>
  </div>
</template>

<script>
import SubmitForm from './SubmitForm'

export default {
  name: 'total-sum',
  props: ['newGadget', 'oldGadget', 'oldGadgetFeatures'],
  components: {
    SubmitForm
  },
  data () {
    return {
      isDialogFormVisible: false,
      stickyTotalVisible: false
    }
  },
  mounted () {
    addEventListener('scroll', () => {
      let element = document.getElementsByClassName('ct-features-list')[0]
      let scrollY = window.pageYOffset
      let targetY = element.offsetTop
      let targetHeight = element.offsetHeight
      if (scrollY + window.innerHeight >= targetY && scrollY + window.innerHeight < targetY + targetHeight) {
        this.stickyTotalVisible = true
      } else {
        this.stickyTotalVisible = false
      }
    })
  },
  computed: {
    oldGadgetFeaturesProcent () {
      let featuresPercent = 0
      if (this.oldGadgetFeatures.length) {
        featuresPercent = this.oldGadgetFeatures.map((item) => {
          return item.percent
        })
        featuresPercent = featuresPercent.reduce((total, number) => {
          return total + number
        })
        featuresPercent = featuresPercent >= 99 ? 100 : featuresPercent
      }
      return featuresPercent
    },
    isMoreThanNew () {
      return this.oldGadgetPrice > ((this.newGadget.price.new * 70) / 100)
    },
    oldGadgetPrice () {
      let price = this.oldGadget ? (this.oldGadget.price.old - (this.oldGadget.price.old * this.oldGadgetFeaturesProcent) / 100) : 1
      return price === 100 ? 1 : price
    },
    totalOldGadgetPrice () {
      let oldGadgetPrice = this.oldGadgetPrice
      if (this.isMoreThanNew) {
        oldGadgetPrice = ((this.newGadget.price.new * 70) / 100)
      }
      return Number(oldGadgetPrice.toFixed()) === 0 ? 1 : Number(oldGadgetPrice.toFixed())
    },
    totalSum () {
      return this.newGadget ? this.newGadget.price.new - this.totalOldGadgetPrice : 1
    }
  },
  filters: {
    formatPrice (val) {
      return val.toLocaleString()
    }
  }
}
</script>

<style lang="scss">
  .ct-total-sum {
    .ct-total-wrapper {
      display: flex;

      @media screen and (max-width: 768px) {
        flex-wrap: wrap;
        padding: 0 15px;
        box-sizing: border-box;
      }
    }

    .ct-total-col {
      width: 33.33%;
      border-right: 1px solid #d9d9d9;
      padding: 20px 0 35px;
      box-sizing: border-box;
      min-height: 220px;

      @media screen and (max-width: 768px) {
        width: 100%;
        padding: 0 0 20px;
        vertical-align: top;
        clear: both;
        overflow: auto;
        min-height: 0;
        border: none;
      }

      &:last-child {
        border: none;

        @media screen and (max-width: 768px) {
          padding: 10px 0 0 0;
          border-top: 1px solid #d9d9d9;
        }
      }

      &__price {
        height: auto;
        font: 700 50px/normal Ubuntu, sans-serif;
        color: #000;

        &_orange {
          color: #f8741f;
        }

        sup {
          font-size: 24px;
          top: -0.8em;
        }

        @media screen and (max-width: 768px) {
          float: right;
          font-size: 30px;
          width: 40%;
          margin: 0;
          text-align: right;

          sup {
            font-size: 13px;
          }
        }
      }

      & > p {
        margin: 0 10px 0 80px;
        min-height: 42px;

        @media screen and (max-width: 768px) {
          margin: 0;
        }
      }

      &__name {
        font-family: 'Ubuntu', sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: #484748;
        margin-top: 10px !important;

        @media screen and (max-width: 768px) {
          float: left;
        }
      }

      &__title {
        font: 400 12px/normal Roboto, sans-serif;
        color: #999;

        @media screen and (max-width: 768px) {
          float: left;
          width: 60%;
          min-height: 0;
        }
      }

      &__form-button {
        display: block;
        cursor: pointer;
        background-color: #7eb105;
        color: white !important;
        max-width: 170px;
        margin: 0 10px 0 80px;
        margin-top: 10px;
        border: none;
        outline: none;
        text-align: center;
        text-decoration: none !important;
        text-transform: uppercase;
        padding: 10px 0;
        border-radius: 3px;
        font: 500 14px/normal Roboto, sans-serif;

        @media screen and (max-width: 768px) {
          width: 100%;
          clear: both;
          margin: 0;
          margin-top: 50px;
          max-width: 100%;
        }

        &:hover {
          color: white;
          background-color: #7eb105 + 20;
        }
      }
    }
  }

  .ct-form {
    &__icon {
      border-radius: 50px;
      margin-right: 10px;
      position: relative;
      height: 26px;
      width: 26px;
      display: inline-block;
      vertical-align: middle;
      background-color: #f6721d;

      &:before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background: url('../assets/img/request-icon.png') no-repeat center center;
        background-size: initial;
      }
    }
  }

  .ct-info-block {
    box-sizing: border-box;
    width: 100%;
    background-color: #f7ffe7;
    border: 1px solid #ecebeb;
    padding: 27px 20px;
    text-align: center;

    p {
      color: #222222;
      font: 400 16px/18px Roboto, sans-serif;
    }
  }

  .ct-sticky-total {
    position: fixed;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
    z-index: 2;
    margin: 0 auto;
    transform: translateY(150px) translateX(-50%);
    transition: all linear 0.12s;
    left: 50%;
    width: 1000px;
    border-top: 1px solid #d9d9d9;

    @media screen and (max-width: 1000px) {
      width: 100%;
      padding: 0 16px;
    }

    &__sticky {
      transform: translateY(0) translateX(-50%);
    }

    .ct-total-col {
      padding-bottom: 12px;
      min-height: 0;

      & > p {
        margin: 0 10px 0 50px;
        min-height: 30px;

        @media screen and (max-width: 768px) {
          margin: 0;
        }
      }

      &__price {
        font-size: 26px;

        sup {
          font-size: 13px;
        }
      }

      @media screen and (max-width: 768px) {
        display: none;
        border-top: none !important;
        &:last-child {
          display: block;
          padding: 24px 0;
        }
      }
    }
  }

  .ct-dialog-info {
    &__close {
      position: absolute;
      right: 24px;
      top: 24px;
      width: 15px;
      height: 15px;
      opacity: .6;
      cursor: pointer;
      background: transparent;
      outline: none;
      border: none;
      transition: opacity 0.12s linear;

      &:hover {
        opacity: 1;
      }

      &:before {
        content: '';
        position: absolute;
        top: -1px;
        left: 5px;
        height: 15px;
        width: 2px;
        background-color: #333;
        transform: rotate(45deg);
      }

      &:after {
        content: '';
        position: absolute;
        top: -1px;
        left: 5px;
        height: 15px;
        width: 2px;
        background-color: #333;
        transform: rotate(-45deg);
      }
    }

    &__title {
      font-family: Roboto;
      font-weight: 400;
      font-size: 12px;
      line-height: 27px;
      color: #999999;
      margin: 0;

      span {
        color: black;
      }
    }

    &__name {
      font-family: Ubuntu;
      font-weight: 500;
      font-size: 14px;
      color: #484748;
      margin-top: 0;
    }

    &__price {
      font-family: Ubuntu;
      font-weight: 500;
      font-size: 30px;
      color: #222222;
      margin: 0;
      white-space: nowrap;
      text-align: right;

      sup {
        font-size: 18px;
        top: -0.6em;
      }
    }

    .submit-button {
      width: 100%;
      margin: 25.5px 0;

      &:not(:disabled) {
        color: #fff !important;
        background-color: #7eb105 !important;
        box-shadow: none;
      }
    }

    &__terms {
      padding-bottom: 25px;
      font-family: Roboto;
      font-weight: 400;
      font-size: 10px;

      span {
        color: #7eb105;
      }
    }
  }

  .ct-dialog-row {
    display: flex;
    position: relative;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    &:nth-child(2):after {
      content: '';
      margin-left: auto;
      margin-right: auto;
      position: absolute;
      bottom: -4px;
      height: 1px;
      width: 99%;
      display: block;
      background-color: #e1e1e1;
    }
  }

  .md-dialog-container {
    width: 500px;

    .md-dialog-title {
      font: 400 20px Ubuntu, sans-serif;
      color: #484748;
    }
  }
</style>
