<template>
  <div class="ct-wrapper">
    <div class="loader" v-show="loader">
      <md-progress-spinner :md-diameter="77" :md-stroke="8" md-mode="indeterminate"/>
    </div>
    <template v-if="!loader">
      <app-menu/>
      <div class="ct-main">
        <app-header/>
        <step
                id="newGadget"
                :title="$t('citrusobmen.choice_new_device')"
                :description="$t('citrusobmen.select_model_gadget')"
                step="1"
        >
          <gadget-select v-model="selectedNewGadget" type="new"/>
        </step>
        <step
                id="oldGadget"
                :title="$t('citrusobmen.what_you_search')"
                :description="$t('citrusobmen.correct_estimate_description')"
                step="2"
        >
          <gadget-select v-model="selectedOldGadget" type="old" @onCategoryChange="setOldGadgetCategory"/>
        </step>
        <step
                id="form"
                :title="$t('citrusobmen.correct_estimate')"
                :description="$t('citrusobmen.correct_estimate_description')"
                step="3"
        >
          <old-gadget-features v-model="selectedOldGadgetFeatures" :category="selectedOldGadgetCategory"/>
        </step>
        <total-price
                :new-gadget="selectedNewGadget"
                :old-gadget="selectedOldGadget"
                :old-gadget-features="selectedOldGadgetFeatures"
        />
        <step
                :title="$t('citrusobmen.add_information_for_the_participant')"
                step="!"
        >
          <div class="ct-info">
            <p v-html="$t('citrusobmen.By_the_exchange_of_the_receiving_device_in_a_fully_operational_state')"></p>
            <p>{{$t("citrusobmen['There_are_a_number_of_devices?_Bring_it!']")}}</p>
            <p v-html="$t('citrusobmen.When_exchanging_necessarily_present_your_passport')"></p>
            <p class="sign">{{$t("citrusobmen['Bright_citrus_purchases!']")}}</p>
          </div>
        </step>
      </div>
      <app-footer/>
    </template>
  </div>
</template>

<script>
import AppMenu from './components/layout/AppMenu'
import AppHeader from './components/layout/AppHeader'
import AppFooter from './components/layout/AppFooter'
import GadgetSelect from './components/GadgetSelect'
import OldGadgetFeatures from './components/OldGadgetFeatures'
import Step from './components/StepWrapper'
import TotalPrice from './components/TotalPrice'
import { loadLanguageAsync } from './lang/config'

export default {
  name: 'App',
  components: {
    AppMenu,
    AppHeader,
    AppFooter,
    GadgetSelect,
    OldGadgetFeatures,
    Step,
    TotalPrice
  },
  data () {
    return {
      selectedNewGadget: null,
      selectedOldGadget: null,
      selectedOldGadgetCategory: null,
      selectedOldGadgetFeatures: [],
      loader: true,
      showNavigation: false
    }
  },
  created () {
    this.getLocalization()
  },
  methods: {
    getLocalization () {
      let language = 'ru'
      if (window.location.pathname.includes('uk')) language = 'uk'
      loadLanguageAsync(language).then(() => {
        setTimeout(() => {
          this.loader = false
        }, 500)
      })
    },
    setOldGadgetCategory (categorySlug) {
      this.selectedOldGadgetCategory = categorySlug
    }
  }
}
</script>
<style lang="scss">
  @import './assets/styles/main';

  body {
    background-color: #efefef;
  }

  .loader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 999;
  }

  .red {
    color: red;
  }

  .ct-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;

    @media screen and (max-width: 1000px) {
      max-width: 100%;
    }

    .ct-header {
      background-color: #efefef;
      padding: 40px 10px;

      @media screen and (max-width: 768px) {
        padding: 0;
      }

      .ct-header-menu {
        a {
          color: #212121;
        }
      }

      .md-toolbar {
        background-color: #f6721d;
        display: none;
        position: relative;
        padding: 10px 0;

        .md-button i {
          color: white!important;
        }

        .ct-header-m-logo {
          position: absolute;
          left: 50%;
          top: 18px;
          transform: translateX(-50%);
        }

        .cart-icon {
          position: absolute;
          right: 10px;
          top: 10px;
        }

        @media screen and (max-width: 768px) {
          display: block;
        }
      }

      .ct-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;

        @media screen and (max-width: 768px) {
          display: none;
        }

        .ct-logo {
          background-image: url('./assets/img/citrus-logo.svg');
          background-size: cover;
          display: block;
          float: left;
          width: 189px;
          height: 47px;
          background-repeat: no-repeat;
          background-position: center center;
        }

        .ct-menu {
          display: flex;
          list-style: none;
          &__item {
            margin-left: 50px;
            -webkit-transition: all 0.4s ease;
            transition: all 0.4s ease;
            display: block;
            font: 400 16px/16px Ubuntu, sans-serif;
            color: #565656;
            border-bottom: 1px dashed #565656;
            text-decoration: none;

            &:hover {
              border-bottom: 1px dashed rgba(0,0,0,0);
              color: #f36f21;
              text-decoration: none;
            }

            &_active {
              color: #f36f21;
              border-bottom: 1px rgba(0,0,0,0);
            }
          }
        }
      }
    }

    .ct-main {
      padding-bottom: 65px;
      box-sizing: border-box;
      background-color: #fff;

      .ct-top-description {
        padding: 50px 100px 0 100px;

        @media screen and (max-width: 1000px) {
          padding: 30px 0 0 0;
        }

        ul {
          list-style: none;
          padding: 0;
          display: flex;

          @media screen and (max-width: 1000px) {
            flex-direction: column;
          }
        }

        .ct-top-description-item {
          width: calc(100% / 3);
          display: inline-block;
          text-align: center;
          padding-bottom: 25px;
          position: relative;

          @media screen and (max-width: 768px) {
            width: 290px;
            margin: 0 auto;
            min-height: 100px;
            display: block;
            text-align: left;
            padding-bottom: 0;

            &:nth-child(2) {
              margin-top: 40px;
              margin-bottom: 40px;
            }
          }

          &:first-child:after {
            z-index: 1;
            position: absolute;
            right: -50px;
            top: 15px;
            content: '';
            background-image: url('./assets/img/arrow-bottom.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            width: 104px;
            height: 24px;

            @media screen and (max-width: 768px) {
              left: 68px;
              top: auto;
              bottom: -27px;
              width: 52px;
              height: 12px;
              -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
            }
          }

          &:nth-child(2):after {
            z-index: 1;
            position: absolute;
            right: -50px;
            top: 80px;
            content: '';
            background-image: url('./assets/img/arrow-top.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            width: 104px;
            height: 24px;

            @media screen and (max-width: 768px) {
              left: 55px;
              top: 124px;
              width: 52px;
              height: 12px;
              -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
            }
          }

          img {
            margin: 0 auto 20px auto;
            display: block;

            @media screen and (max-width: 768px) {
              margin: 0;
              width: 100px;
              float: left;
              display: block;
              margin-right: 20px;
            }
          }

          a {
            font: 400 30px/29px Ubuntu, sans-serif;
            color: #333333;
            text-decoration: none;
            cursor: pointer;

            @media screen and (max-width: 768px) {
              font-size: 24px;
            }

          }

          p {
            color: #999999;
            margin-top: 10px;
            font: 400 14px/21px Roboto, sans-serif;
          }
        }
      }

      .ct-info {
        font: 400 14px/normal Roboto, sans-serif;
        color: #999;
        margin: 0 0 20px;
        padding-left: 55px;

        @media screen and (max-width: 700px) {
          padding-right: 16px;
        }

        .sign {
          text-align: right;
          font: 400 italic 16px/normal Ubuntu, sans-serif;
          color: #f36f21;

          @media screen and (max-width: 700px) {
            text-align: left;
          }
        }
      }
    }

    .ct-footer {
      background-color: #efefef;
      padding: 50px 0 30px 0;
      box-sizing: border-box;
      font: 400 12px/18px Roboto, sans-serif;
      text-align: center;

      p {
        font: 400 12px/18px Roboto, sans-serif;
        text-align: center;
        &:nth-last-child(2) {
          margin-bottom: 0;
        }
      }

      .ct-tel {
        color: #7eb105;
        font: 700 25px/25px Roboto, sans-serif;
        text-align: center;
        display: block;
        &:hover {
          color: #7eb105;
          text-decoration: none;
        }
      }
    }
  }
</style>
